
#conteneur{
	width: 100%;
}


header{
	height: 390px


}


nav{
	border: 0px solid black;
	background-color: pink;
	transition: all 1s ease;
}

ul{
	display: block;
}

li{
	display: block;
	width: 75%;
	background-color: red;
	transition: all 1s ease;

}



#logo{
	width: 80%;
	transition: all 1s ease;
}



#principal{
	width: 100%;
	height: 300px;
}

#boite{
	width: 80%


}
article{
	width: 30%;
	height: 80%;
}